# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/ # FlashDevelop obj

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
/.idea/
/node_modules/
!lib/common.js
lib/*.js
lib/*.js.map
src/**/*.js
src/**/*.js.map
/TurboScript.iml
!src/library/asmjs/runtime.js
!src/library/asmjs/wrapper.js
!src/library/turbo/runtime.js
!src/library/turbo/wrapper.js
