# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/ # FlashDevelop obj

# Other files and folders
.settings/
*.log
node-v8/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
/build/
/.idea/
/node_modules/
*.swp
src/**/*.js
*.js.map
/TurboScript.iml
!src/library/asmjs/runtime.js
!src/library/webassembly/wrapper.js
!src/library/turbo/runtime.js
!src/library/turbo/wrapper.js
lib/tc.js.map
test/snapshots/
tests/bin/
