notifications:
  slack: turboscript:9IeY6sX0PuLan9Q4Ad1Ggylp
  
language: node_js
os: osx
node_js:
  - '8'

sudo: false

env:
  - workerCount=3

matrix:
  fast_finish: true

install:
  - npm uninstall turboscript
  - npm install
  - npm update

script:
  - npm run build
  - npm run test

cache:
  yarn: true
  directories:
    - node_modules

git:
  depth: 1
