notifications:
  slack: turboscript:9IeY6sX0PuLan9Q4Ad1Ggylp
  
language: node_js

node_js:
  - 'stable'
  - '6'

sudo: false

env:
  - workerCount=3

matrix:
  fast_finish: true

install:
  - npm uninstall turboscript
  - npm install
  - npm update
  - yarn add:nodev8

script:
  - yarn build
  - yarn test:utils.spec
  - yarn tests:verbose

cache:
  yarn: true
  directories:
    - node_modules

git:
  depth: 1
