body {
    font: 14px/150% verdana;
    margin: 50px 0 50px 50px;
    background: #232323;
    color: #cbcbcb;
}

h1, p {
    padding-right: 50px;
    clear: both;
}

h1 {
    color: #8f7adb;
}

p {
    max-width: 800px;
    margin: 0 0 30px 0;
}

h2 {
    clear: both;
    margin: 0;
    height: 50px;
    line-height: 30px;
}

input {
    vertical-align: top;
}

a {
    color: inherit;
}

.not-supported-warning-text {
    display: none;
}

.wasm-unavailable .wasm-backend-text {
    color: #BBB;
}

.wasm-unavailable .not-supported-warning-text {
    display: inline;
}

button {
    position: absolute;
    width: 100px;
    height: 30px;
    top: 0;
    right: 51px;
    background: white;
    border: 1px solid #BBB;
    border-radius: 5px;
    font: inherit;
    line-height: 20px;
    padding: 1px 0;
    background: linear-gradient(white, #F7F7F7);
    cursor: pointer;
    color: black;
}

textarea {
    width: 100%;
    height: 400px;
    min-height: 400px;
    resize: vertical;
    margin: 0;
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 5px;
}

.secondary {
    margin-top: 50px;
    position: relative;
    display: none;
}

.secondary button {
    top: 0;
    right: 0;
}

.double-output .secondary {
    display: block;
}

.double-output textarea {
    height: 175px;
    min-height: 175px;
}

button:active:not(:disabled) {
    background: linear-gradient(#EEE, #F7F7F7);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    padding: 2px 0 0 0;
}

button:focus, textarea:focus {
    outline: none;
    border-color: #8F7ADB;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

textarea:focus + button {
    border-color: #8F7ADB;
}

button:disabled {
    color: black;
    opacity: 0.5;
    cursor: default;
}

button::-moz-focus-inner {
    border: none;
}

textarea, code {
    font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
    background: #2f2e33;
    border-color: #34264f;
    color: #cacaca;
}

section {
    position: relative;
    width: 50%;
    float: left;
    padding: 0 50px 50px 0;
    box-sizing: border-box;
}

label[title]:hover:after {
    content: attr(title);
    border: 1px solid red;
    padding: 2px 5px 2px 5px;
}

.coming-soon[title]:hover:after {
    content: attr(title);
    border: 1px solid orange;
    padding: 2px 5px 2px 5px;
    position: absolute;
    background: #232323;
}

.spacer {
    height: 50px;
}

.footer {
    bottom: 10px;
    text-align: center;
}